*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style  */
body{
    width: 85%;
    max-width: 1600px;
}
body .inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    padding: 12px 16px 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;

}
.btn:hober{
    background-color: rgba(234, 82, 82, 0.6);
    color: rgb(230, 22, 161);
}

/* main style  */

#header-content{
    background-color: #FFFFFF;
}

.header-section{
    background-color: #FFFFFF;
    width: 85%;
    max-width: 1360px;
    /* border: 3px solid red ; */
    margin: 0 auto ;
    padding: 16px 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navber-logo img{
    max-width: 139px;
}
.header-section ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
.header-section a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-weight: 500;
}
/* banner-section   */
.banner-section{
    background-image: url(./assets/hero-bg.png);
    /* background-repeat: no-repeat; */
    max-width: 1600px;
    height: 674px;
}
.banner-content{
    text-align: center;
    padding-top: 115px;
}
.banner-heading{
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
    font-size: 72px;
    font-weight: 700;
}
.banner-btn{
    padding: 8px 12px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(70, 145, 101, 1);
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.banner-heading .heading-color{
    color: rgba(48, 184, 104, 1);
}
.banner-info{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    padding-top: 16px;
}
.banner-btn1{
    padding: 12px 16px 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    margin-top: 32px;
    margin-right: 16px;
}
.banner-btn2{
    padding: 12px 16px 12px 16px;
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 32px;
}

#does-section{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;

}
.does-container{
    padding-top: 60px;

}
.does-header{
    text-align: center;
    /* padding-top: 60px; */

}
.does-header h2{
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);

}
.does-header p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    padding-top: 16px;
}
.does-card{
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin-top: 44px;
    
  

}
.does-info{
    max-width: 322px;
    padding: 24px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    
}
.does-info img{
    background: rgba(249, 85, 85, 1);;
    width: 32px;
    margin-top: 14px;
    border-radius: 50%;
    padding: 2.5px;
}
.does-info h3{
    font-size: 24px;
    font-weight: 600;
    padding: 1.5px 2.49px;
    margin-top: 16px;
}
.does-info p{
    font-size: 14px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    margin-top: 16px;
}
/* design section  */
#design-section{
     width: 85%;
    max-width: 1600px;
    margin: 0 auto;

}
.design-content{
    display: flex;
    gap: 60px;
    margin-top: 120px;

}
.design-image img{
    max-width: 600px;
    border-radius: 12px;

}

/* .design-info{ */
}
.design-info .solution{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
    padding-top: 102px;

}
.design-info h2{
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    
}
.design-info .long{
    font-size: 16px;
    font-weight: 400;
    color:  rgba(98, 115, 130, 1);
    padding: 16px 0px 40px 0px;
    /* line-height: 20px; */
    padding-top: 16px;
}
.design-card{
    font-size: 16px;
    font-weight: 400;
    color:  rgba(0, 25, 49, 1);
    line-height: 20px;
    padding-top: 40px;
    vertical-align: middle;

}

/* clearly section  */
#clearly-section{
     width: 85%;
    max-width: 1600px;
    margin: 0 auto;
    

}
.clearly-container{
    text-align: center;
    padding: 80px 40px;
    background-color: rgba(247, 246, 242, 1);
    margin-top: 120px;

}
.clearly-info h1{
    font-size: 40px;
    font-weight: 700;
    

}
.clearly-info button{
    margin-top: 24px;

}
.clearly-info p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
    padding-top: 16px;
}

/* footer section   */

#footer-section{
    background-color: black;
    max-width: 1600px;
    margin: 0 auto; 
    text-align: center;
    color: aliceblue;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin-top: 120px;
    padding: 120px 120px 30px;
}
.footer-content img{
    background-color: black;
}
.footer-icon{
    color: rgba(255, 255, 255, 1);
    background-color: black;
    font-size: 20px;
    font-weight: 500;
}
.footer-last{
    padding-bottom: 30px;
}
